*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.header{
    margin: 20px;
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

.clg{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: white; */
    width: 50%;
}



.cards{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    width: 75%;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    border: 1px solid orange;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    cursor: pointer;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.item1 {
    cursor: pointer;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.item1:hover{
    background-color: rgb(226, 226, 250);
}

.item-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.title1 {
    font-weight: bold;
    color: #d32f2f;
}

.title {
    font-weight: bold;
    color: gray;
}

.restricted-label {
    background-color: #d32f2f;
    color: #fff;
    padding: 2px 6px;
    font-size: 12px;
    margin-left: 10px;
    border-radius: 4px;
}

.description1 {
    color: #333;
    font-size: 14px;
}

.description {
    color: gray;
    font-size: 14px;
}

.item.restricted .description:first-of-type {
    color: #d32f2f;
    font-weight: bold;
}

.bg-grey{
    background-color: rgb(224, 224, 224);
}


.st{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 197, 197);
    margin-top: 30px;
    padding: 16px;
    color: gray;
    font-size: 10px;
}

.press{
    cursor: pointer;
    font-size: 14px;
}